//
// Base: Variables
// ----------------------------------------------------------------------------


// Container and Gutter
// ----------------------------------------------

$gutter: 40px;
$maxWidth: 1200px + $gutter;


// Colors
// ----------------------------------------------

$text-color: #000;
$link-color: #333;
$border-color: #666;


// Fonts
// ----------------------------------------------

$font-display: sans-serif;
$font-text: sans-serif;
