//
// Base: Defaults
// ----------------------------------------------------------------------------

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

// Remove the gap between the follow elements
// and the bottom of their containers

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

// Responsive images

img {
	max-width: 100%;
	height: auto;
}

// Remove iOS default styles from form elements

input[type="text"],
input[type="button"],
input[type="submit"],
textarea {
	-webkit-appearance: none;
	border-radius: 0;
}

// Allow only vertical resizing of textareas

textarea {
	resize: vertical;
}

// Remove default margins from figure

figure {
	margin: 0;
}
